body {
  font-size: 16px;
  color: #000;
  background-color: #fff;
  font-family: "Rubik", sans-serif;
}

/** HEADER **/
.navbar {
  margin: 0;
}
#header-nav {
  background-color: #999;
  border-radius: 0;
  border-bottom: solid #000;
}
.navbar-brand h1 {
  /* Restaurant name */
  color: #000;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 0.75;
}
.navbar-brand a:hover,
.navbar-brand a:focus {
  text-decoration: none;
}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #000;
  text-align: center;
}
#nav-list a:hover {
  background: #e7e7e7;
}
#nav-list a span {
  font-size: 1.8em;
}
.navbar-header button.navbar-toggle,
.navbar-header .icon-bar {
  border: 1px solid #000;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

/* MAIN CONTENT */
.menu-item-tile {
  margin-bottom: 25px;
}
.menu-item-description {
  background-color: #999;
  margin: 20px;
  padding: 10px;
}
h3.menu-item-title {
  margin: 10px 0;
}
.menu-item-details {
  font-size: 0.9em;
  text-align: left;
}
/* END MAIN CONTENT */

/********** Large devices only **********/
@media (min-width: 1200px) {
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  #collapsable-nav {
    background-color: #fff;
  }
  .navbar-brand {
    margin: auto 0;
  }
  .navbar-brand h1 {
    /* Restaurant name */
    margin: auto 0;
  }

  #collapsable-nav a {
    /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span {
    /* Collapsed nav menu glyph */
    font-size: 1em;
  }
  /* End Header */
}
